.container {
  width: 100%;
  height: 100%;
  max-height: 9.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.switch__circle {
  width: 6.6875rem;
  height: 6.6875rem;
  border-radius: 50%;
  border: 0.1875rem solid var(--grey-500);
  background-color: var(--grey-500);
  backdrop-filter: blur(0.3125rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch__text {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.56;
  letter-spacing: -0.18px;
  color: var(--grey-250);
  font-family: "Inter";
  text-align: center;
}

.switch__button {
  max-width: 7rem;
}

.switch__button_active .switch__text {
  color: var(--primary-text-color);
}

.switch__button_active .switch__circle {
  border: 0.1875rem solid var(--main-blue);
}

.switch__button_active .switch__circle_inner img {
  filter: brightness(0) saturate(100%) invert(53%) sepia(84%) saturate(855%)
    hue-rotate(176deg) brightness(103%) contrast(101%);
}

.switch__button:hover .switch__circle_inner img {
  filter: brightness(0) saturate(100%) invert(53%) sepia(84%) saturate(855%)
    hue-rotate(176deg) brightness(103%) contrast(101%);
}

.switch__button:hover .switch__text {
  color: var(--primary-text-color);
}

.switch__button:hover .switch__circle {
  border: 0.1875rem solid var(--main-blue);
}
