.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  height: 100%;
  overflow: clip;
}

.onboarding {
  position: absolute;
  height: 60%;
  width: 40vw;
  top: 50%;
  left: 1.25rem;
  transform: translateY(-50%);
  pointer-events: none;
}

.onboarding2 {
  position: absolute;
  height: 30%;
  width: 60vw;
  top: 10%;
  right: 1.25rem;
  pointer-events: none;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  flex: 0 1 auto;
}

.header__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__text {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -0.14px;
  color: var(--grey-300);
}

.header__text_mob {
  display: none;
}

.card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card.inputs {
  max-width: 400px;
}

.card__header {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.button {
  min-width: 189px;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
}

@media screen and (max-width: 48rem) {
  .search {
    flex-direction: column;
    height: fit-content;
    gap: 16px;
    overflow: none;
  }
  .container {
    overflow: none;
    height: fit-content;
  }
  .onboarding {
    width: 100vw;
    height: 30%;
    top: 40%;
    left: 0;
  }
  .onboarding2 {
    width: 100vw;
    left: 0;
    right: unset;
  }
}

@media screen and (max-width: 671px) {
  .header__text {
    display: none;
  }

  .header__text_mob {
    display: block;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: -0.14px;
    color: var(--grey-300);
  }
}

