.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header__text {
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -0.0088rem;
  color: var(--grey-300);
}
