.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.chart {
  min-width: 18.375rem;
  height: 18.375rem;
  background: var(--grey-900);
  position: relative;
  z-index: 1;
}

.legends {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.legend__count {
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.24px;
}

.legend__text {
  color: var(--grey-200);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42;
  letter-spacing: -0.14px;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.legend__bar {
  height: 10px;
  border-radius: 2px;
}

.legend button {
  color: var(--main-blue);
  text-decoration-line: underline;
  text-underline-offset: 2px;
  line-height: 1.42;
}

@media screen and (max-width: 67.3125rem) {
  .legend button {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: 0.5rem;
    font-size: 12px;
  }
}

@media screen and (max-width: 48rem) {
  .chart {
    min-width: 9.75rem;
    height: 9.75rem;
  }

  .legend__count {
    font-size: 14px;
  }

  .legend__text {
    font-size: 12px;
  }
}
