.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 18.75rem;
}

.plan__info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.text__big {
  position: relative;
  width: fit-content;
  color: var(--primary-text-color);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
}

.text__big.text__big_decor {
  margin-left: 0.375rem;
  padding-left: 0.375rem;
}

.text__big_decor::after {
  content: "/mo";
  display: block;
  position: absolute;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55;
  bottom: 0;
  right: -2.125rem;
}

.text__big_decor::before {
  content: "£";
  display: block;
  position: absolute;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55;
  top: -0.3125rem;
  left: -0.375rem;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature__item {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: var(--grey-600);
  color: var(--grey-300);
}

.button__current {
  height: 3.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--main-blue);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01rem;
}

.button__container {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 48rem) {
  .container {
    box-sizing: border-box;
    width: 18.75rem;
  }
}
